nav {
  background-color: green;
}

header {
  background-color: grey;
}
header nav {
  border-bottom: #7fcc2b solid 2px;
  text-align: center;
}
header nav .navbar-toggler {
  outline: none !important;
}
header nav .navbar-nav .nav-item {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}
header nav .navbar-nav .nav-item .nav-link {
  text-decoration: none;
}
header nav .navbar-nav .nav-item .nav-link:hover, header nav .navbar-nav .nav-item .nav-link:focus, header nav .navbar-nav .nav-item .nav-link:active {
  font-weight: initial;
}
header nav .navbar-nav .dropdown-menu {
  padding: 0;
}
header nav .navbar-nav .dropdown-menu .dropdown-item {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}
header nav .navbar-nav .dropdown-menu .dropdown-item:hover, header nav .navbar-nav .dropdown-menu .dropdown-item:focus, header nav .navbar-nav .dropdown-menu .dropdown-item:active {
  font-weight: initial;
}
@media screen and (min-width: 992px) {
  header nav .navbar-nav .dropdown-menu .dropdown-item:hover, header nav .navbar-nav .dropdown-menu .dropdown-item:focus, header nav .navbar-nav .dropdown-menu .dropdown-item:active {
    background: #bde78f;
  }
}
@media screen and (max-width: 991px) {
  header nav .navbar-nav .dropdown-menu {
    border: 0;
    background: none;
    text-align: center;
  }
}
header nav .dropdown-divider {
  margin: 0;
}
header nav a.navbar-brand {
  margin: 0 30px 0 10px;
}
header nav a.navbar-brand img {
  width: 130px;
  height: auto;
}
header nav button.navbar-toggler i {
  font-size: 1.45em;
  color: #7fcc2b;
}

section .carousel {
  height: calc(100vh - 100px);
  text-align: center;
  overflow: hidden;
}
section .carousel .carousel-caption {
  padding: 30px;
}
section .carousel .carousel-caption.carousel-caption-right {
  top: 0;
  bottom: 15%;
  right: 10%;
  left: initial;
  margin: auto 0;
  display: flex;
  align-items: center;
}
section .carousel .carousel-caption.carousel-caption-left-top {
  top: initial;
  bottom: 25px;
}
@media screen and (min-width: 992px) {
  section .carousel .carousel-caption.carousel-caption-left-top {
    width: 35%;
    top: 50px;
    left: 30px;
  }
}
@media screen and (max-width: 767px) {
  section .carousel .carousel-caption.carousel-caption-left-top {
    position: static;
  }
}
section .carousel .carousel-caption h2 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #7fcc2b;
}
@media screen and (max-width: 1199px) {
  section .carousel .carousel-caption h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767px) {
  section .carousel .carousel-caption h2 {
    font-size: 2.5rem;
  }
}
section .carousel .carousel-inner {
  height: 100%;
}
section .carousel .carousel-item {
  overflow: hidden;
  height: 100%;
}
section .carousel .carousel-item.active {
  display: flex;
  align-items: stretch;
}
section .carousel .carousel-item img {
  height: calc(100vh - 100px);
  width: auto;
  position: relative;
}
section .carousel .carousel-item img.w-100 {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  section .carousel .carousel-item img.w-100 {
    top: -100px;
  }
}
@media screen and (max-width: 767px) {
  section .carousel .carousel-item img {
    height: calc(100vh - 100px);
    width: 100vw;
    object-fit: contain;
    object-position: top;
  }
  section .carousel .carousel-item img.w-100 {
    top: 50px;
  }
}
@media screen and (max-width: 767px) {
  section .carousel .carousel-item {
    flex-direction: column;
    justify-content: space-around;
  }
}
section .carousel .carousel-control-next,
section .carousel .carousel-control-prev {
  width: 10%;
}
section .carousel .carousel-control-prev-icon,
section .carousel .carousel-control-next-icon {
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background: none;
}
section .carousel .carousel-control-prev-icon {
  transform: rotate(45deg);
}
section .carousel .carousel-control-next-icon {
  transform: rotate(-135deg);
}

section.main-content {
  background-color: #7fcc2b;
  opacity: 0.75;
}

section#kontakt {
  border-top: solid 2px #7fcc2b;
}

section h1 {
  text-align: center;
  color: #7fcc2b;
  font-weight: 300;
  font-size: 3.5rem;
  text-transform: uppercase;
}

footer {
  padding: 30px 0;
  background-color: #7fcc2b;
  opacity: 0.9;
}
footer .company-name {
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  color: #222222;
  box-sizing: content-box;
}

a {
  color: #275743;
  text-decoration: underline;
}
a:hover, a:focus, a:active {
  font-weight: 500;
  color: #173428;
}

.btn-primary {
  background: #7fcc2b;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 0.7em 1em;
  outline: none !important;
}
.btn-primary:not(:disabled):not(.disabled):hover, .btn-primary:not(:disabled):not(.disabled):focus, .btn-primary:not(:disabled):not(.disabled):active {
  background: #72b727;
}

/*# sourceMappingURL=main.css.map */
