
@import '_00-fonts';
@import '_00-variables';
@import '_01-header';
@import '_02-nav';
@import '_03-section1-banner';
@import '_04-section2-products';
@import '_05-section3-kontakt';
@import '_06-footer';

*{
    padding:0;
}
body, html{
    height:100%;
    color:$font-color;
    box-sizing: content-box;
}