### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule melkon index.html
RewriteRule kontakt contact.html
RewriteRule kontaktDoMnie /contact/index.html
